<h1 class="center-align">Politics</h1>

<div class="row">
  <!-- Left side div (Opinions) -->
  <div class="col s12 m8 l9">

{{!--     {{#each items}}
    <div class ="card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="opinion-controls">
          <div class="opinion-edit">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light upd" href="#modal1">
              <i class="material-icons">create</i>
            </a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
              </div>
            </div>
          </div>
          <div class="opinion-delete">
            <div class="removebutton">
              <i class="material-icons">delete</i>
            </div>
          </div>
        </div>
        <span class="card-title">Politics</span>
        <p>I am your President. And you are WRONG</p>
      </div>
      <div class="username">
        <p><span class="userplace">user:</span> Ritwik</p>
      </div>
    </div>
    {{/each}} --}}

    {{#each items}}
    <div class="card {{color}} {{_id}}">
      <div class="card-content white-text">
        <div class="opinion-controls">
          <div class="opinion-edit">
            {{>modal this}}
            {{!-- Replaced the below comments with a modal --}}
            {{!-- <a class="waves-effect waves-light upd" href="#modal{{_id}}">
              <i class="material-icons">create</i>
            </a>

            <!-- Modal Structure -->
            <div id="modal{{_id}}" class="modal">
              <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
              </div>
            </div> --}}
          </div>
          <div class="opinion-delete">
            <div class="removebutton">
              <i class="material-icons">delete</i>
            </div>
          </div>
        </div>
        <span class="card-title">{{title}}</span>
        <p>{{body}}</p>
      </div>
      <div class="username">
        <p><span class="userplace">user:</span> {{user}}</p>
      </div>
    </div>
    <div class="divider"></div>
    {{/each}}
  </div>




{{!-- Modal Was above this --}}
        {{!--   <div class="hiddenid">{{_id}}</div>
          <div class="card-content white-text">
          <span class="card-title">{{title}}</span>
          <p>{{body}}</p>
          </div>
          <div class="username">
            <p><span class="userplace">user:</span> {{user}}</p>

          </div>
        </div>
        {{/each}}

        <div>
          {{#each items}}
          <p>{{category}} - {{title}}</p> --}}
          {{!-- <p>{{Comments.0.Body}}</p>
          {{/each}}
        </div>
        <div>
        {{>opinion this}}
        </div>

        {{test}}

        <div>
          this.test =
          {{this.test}}
        </div>
        <div>
          test =
          {{test}}
        </div>
        <div>{{counter}}</div>

      </div> --}}
    <!-- Ride side div (Input box) -->
      <div class="col s12 m4 l3">
        <div class="toc-wrapper pinned" style="top: 190px;">
          <form action="/opinion/politics" method="post">
            <div class="input-field">
              <input disabled value="Politics" type="text" id="politics" name="politics" class="validate">
              <label for="politics">Category</label>
            </div>
            <div class="input-field">
              <input type="text" id="title" name="title" class="validate" required>
              <label for="title">Title</label>
            </div>
            <div class="input-field">
              <input type="text" id="body" name="body" class="validate" required>
              <label for="body">Body</label>
            </div>
            <div class="input-field">
              <input type="text" id="user" name="user" class="validate" required>
              <label for="user">Your Name</label>
            </div>
            <button class="btn waves-effect waves-light modalbutton" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>

  </div>

